<div class="btn card p-0" (click)="navegarServicosDetalhes(servico)" *ngIf="servico">
  <img src="https://dummyimage.com/200x100/c2c2c2/000000" class="card-img-top">
  <div class="card-footer text-center p-1 bg-dark text-white">
    <label class="h4">{{servico.nome}}</label>

    <div class="row">
      <div class="col">
        <ngb-rating [(rate)]="servico.rating" [max]="5" [readonly]="true"></ngb-rating>
      </div>
    </div>

    <div class="row">
      <div class="col">

        <ng-template #t let-fill="fill">
          <span class="star" [class.full]="fill == 5">
            <span class="half" [style.width.%]="fill">&#36;</span>&#36;
          </span>
        </ng-template>

        <ngb-rating [(rate)]="servico.preco" [max]="3" [starTemplate]="t" [readonly]="true"></ngb-rating>
      </div>
    </div>

    <div class="row" *ngFor="let subcat of servico.subcategoria">
      <div class="col">
        <small>{{subcat}}</small>
      </div>
    </div>
  </div>
</div>
