<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-auto">
      <label class="display-4">Cadastro Usuário</label>
    </div>
  </div>

  <div [formGroup]="cadastroForm" class="needs-validation" novalidate>
    <div class="row justify-content-center my-4">
      <div class="col-auto">
        <button type="button" class="btn btn-sm btn-secondary" style="position: absolute; z-index: 0;">Alterar</button>

        <img alt="foto_perfil" class="rounded-circle" [src]="usuario.foto" width="250" height="250" />

      </div>
    </div>

    <div class="row justify-content-between align-items-center">
      <div class="col-md-6">
        <label>
          Nome Completo:
        </label>
        <input type="text" class="form-control" formControlName="nome" [ngClass]="getValidacao('nome')">
        <div class="invalid-feedback">
          Por favor informe o seu nome completo.
        </div>
      </div>

      <div class="col-md-3">
        <label>
          Apelido:
        </label>
        <input type="text" class="form-control" formControlName="apelido" [ngClass]="getValidacao('apelido')">
        <div class="invalid-feedback">
          Por favor informe o seu apelido.
        </div>
      </div>

      <div class="col-md-3">
        <label>Data de Nascimento:</label>
        <div class="form-group mb-0">
          <div class="input-group">
            <input class="form-control" placeholder="AAAA-MM-DD" name="dp" ngbDatepicker #d="ngbDatepicker"
              formControlName="dataNascimento" (dateSelect)="dataNascimentoSelecionada($event)"
              [ngClass]="getValidacao('dataNascimento')">
            <div class="input-group-append">
              <button class="btn btn-dark" (click)="d.toggle()" type="button">
                <i class="far fa-calendar-alt"></i>
              </button>
            </div>

            <div class="invalid-feedback">
              Data de Nascimento é Obrigatória. Formato: AAAA-MM-DD
            </div>
          </div>
         
        </div>
      </div>
    </div>

    <div class="row justify-content-start align-items-center my-2">
      <div class="col-3">
        <label>
          Documento (CPF ou CNPJ):
        </label>
        <input type="text" class="form-control" formControlName="documento" [ngClass]="getValidacao('documento')">
        <div class="invalid-feedback">
          CPF ou CNPJ é Obrigatório. Formato: Utilizar ponto (.), hífen (-) ou barra (/)
        </div>
      </div>

      <div class="col-3">
        <label>
          E-mail:
        </label>
        <input type="text" class="form-control" formControlName="email" [ngClass]="getValidacao('email')">
        <div class="invalid-feedback">
          Email é Obrigatório. Formato: email@dominio.com
        </div>
      </div>

      <div class="col-2">
        <label>
          Gênero:
        </label>
        <select class="custom-select" formControlName="sexo">
          <option [value]="g" *ngFor="let g of generoLista">{{g}}</option>
        </select>
        <div class="invalid-feedback">
          Campo Obrigatório.
         </div>
      
      </div>
    </div>

    <div [formGroup]="cadastroForm.get('endereco')">
      <div class="row">
        <div class="col-3">
          <label>
            Rua/Avenida:
          </label>
          <input type="text" class="form-control" formControlName="rua">
          <div class="invalid-feedback">
            Campo Obrigatório.
           </div>
        </div>

        <div class="col-1">
          <label>
            Número:
          </label>
          <input type="text" class="form-control" formControlName="numero">
          <div class="invalid-feedback">
            Somente Números.
           </div>
        </div>

        <div class="col-2">
          <label>
            Bairro:
          </label>
          <input type="text" class="form-control" formControlName="bairro">
          <div class="invalid-feedback">
            Campo Obrigatório.
           </div>
        </div>

        <div class="col-2">
          <label>
            Complemento:
          </label>
          <input type="text" class="form-control" formControlName="complemento">
        </div>

        <div class="col-2">
          <label>
            Cidade:
          </label>
          <input type="text" class="form-control" formControlName="cidade">
          <div class="invalid-feedback">
            Campo Obrigatório.
           </div>
        </div>

        <div class="col-2">
          <label>
            Estado:
          </label>
          <select name="estados-brasil" class="custom-select" formControlName="uf" width="3">
            <option value="AC">AC</option>
            <option value="AL">AL</option>
            <option value="AP">AP</option>
            <option value="AM">AM</option>
            <option value="BA">BA</option>
            <option value="CE">CE</option>
            <option value="DF">DF</option>
            <option value="ES">ES</option>
            <option value="GO">GO</option>
            <option value="MA">MA</option>
            <option value="MT">MT</option>
            <option value="MS">MS</option>
            <option value="MG">MG</option>
            <option value="PA">PS</option>
            <option value="PB">PB</option>
            <option value="PR">PR</option>
            <option value="PE">PE</option>
            <option value="PI">PI</option>
            <option value="RJ">RJ</option>
            <option value="RN">RN</option>
            <option value="RS">RS</option>
            <option value="RO">RO</option>
            <option value="RR">RR</option>
            <option value="SC">SC</option>
            <option value="SP">SP</option>
            <option value="SE">SE</option>
            <option value="TO">TO</option>
          </select>

          <div class="invalid-feedback">
            Campo Obrigatório.
           </div>s
        </div>
      </div>
    </div>

    <div class="row my-4 justify-content-center align-items-center">
      <div class="col-auto">
        <button type="submit" class="btn btn-success" (click)="cadastrarUsuario()">
          <i class="fas fa-save"></i> Salvar
        </button>
      </div>

      <div class="col-auto">
        <button type="button" class="btn btn-danger" (click)="resetarCadastro()">
          <i class="fas fa-times"></i> Cancelar
        </button>
      </div>
    </div>
  </div>
</div>