<div class="container">
  <div class="row justify-content-md-between justify-content-center align-items-center mb-1">
    <div class="col-auto pr-md-1" *ngIf="!esconder">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Email" aria-label="Username"
          aria-describedby="basic-addon1">
      </div>
    </div>

    <div class="col-auto px-md-1" *ngIf="!esconder">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Senha" aria-label="Username"
          aria-describedby="basic-addon1">
      </div>
    </div>

    <div class="col-auto pl-md-1" *ngIf="!esconder">
      <button type="button" class="btn btn-sm btn-success" (click)="esconder = !esconder">Entrar</button>
    </div>

    <div class="col-auto pr-md-1">
      <button type="button" class="btn btn-primary" (click)="esconder = !esconder">Login</button>
    </div>
    <div class="col-auto pl-md-1">
      <button type="button" class="btn btn-secondary" (click)="cadastrarUsuario()">Cadastrar</button>
    </div>
  </div>
</div>
