<div class="container">
  <div class="row justify-content-center justify-content-md-between align-items-center">
    <div class="col-auto">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-light p-md-0 pr-md-2" [routerLink]="['/home']">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-light p-md-0" [routerLink]="['/categorias']">Procurar Serviço</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-light p-md-0 pl-md-2" [routerLink]="['/sobre_nos']">Quem Somos Nós</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row justify-content-center justify-content-md-between align-items-center">
    <div class="col-auto">
      <img [src]="logo" height="100">
    </div>
  </div>
</div>