<div class="container-fluid d-flex flex-column h-100">
  <div class="jumbotron mb-2 p-0 rounded-0 text-wrap">
    <div class="row no-gutters">
      <div class="col-auto">
        <img src="https://dummyimage.com/250x300/449451/fff&text=+">
      </div>

      <div class="col px-4">
        <div class="row justify-content-center align-items-center h-75 no-gutters">
          <div class="col-12">
            <label class="display-4 text-justify px-2">Um ambiente seguro que te ajuda a encontrar o melhor
              profissional para a sua necessidade</label>
          </div>
        </div>

        <div class="row justify-content-md-start align-items-center h-25 no-gutters">
          <div class="col-auto">
            <button type="button" class="btn btn-lg btn-dark">Buscar Serviço</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron mb-0 p-0 rounded-0 text-wrap">
    <div class="row no-gutters">
      <div class="col px-4">
        <div class="row justify-content-center align-items-center h-75 no-gutters">
          <div class="col-12">
            <label class="display-4 text-justify px-2">Uma plataforma adaptada para te dar a melhor visibilidade e te
              aproximar de quem está buscando por soluções!</label>
          </div>
        </div>

        <div class="row justify-content-md-end align-items-center h-25 no-gutters">
          <div class="col-auto">
            <button type="button" class="btn btn-lg btn-dark">Ofertar Serviço</button>
          </div>
        </div>
      </div>

      <div class="col-auto">
        <img src="https://dummyimage.com/250x300/ccba52/fff&text=+">
      </div>
    </div>
  </div>
</div>
