<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-auto">
            <img [src]="imagemDudi" alt="miniatura_dudi">
        </div>
        <div class="col">SOBRE_DUDI</div>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-auto">
            <img [src]="imagemCassio" alt="miniatura_cassio">
        </div>
        <div class="col">SOBRE_CASSIO</div>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-auto">
            <img [src]="imagemLuh" alt="miniatura_luh">
        </div>
        <div class="col">SOBRE_LUH</div>
    </div>
</div>